<%= form_for(@iconup) do |f| %>
  <% if @iconup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iconup.errors.count, "error") %> prohibited this iconup from being saved:</h2>

      <ul>
      <% @iconup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :session %><br>
    <%= f.text_field :session %>
  </div>
  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :icon %><br>
    <%= f.text_field :icon %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
