<h1>Listing surkles</h1>

<table>
  <thead>
    <tr>
      <th>Floorplan</th>
      <th>Description</th>
      <th>Location</th>
      <th>Timestamps</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surkles.each do |surkle| %>
      <tr>
        <td><%= surkle.floorplan %></td>
        <td><%= surkle.description %></td>
        <td><%= surkle.location %></td>
        <td><%= surkle.timestamps %></td>
        <td><%= link_to 'Show', surkle %></td>
        <td><%= link_to 'Edit', edit_surkle_path(surkle) %></td>
        <td><%= link_to 'Destroy', surkle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surkle', new_surkle_path %>
