<div class="row">
	<div class="large-12 columns left">
	  <div class="row">
	  	<div class="large-6 columns left">
	  		<strong>Description:</strong>
			  <%= @surkle.description %>
	  	</div>
	  	<div class="large-6 columns right">
	  		<strong>Location:</strong>
			  <%= @surkle.location %>
	  	</div>
	  </div>
	  <div id="floorplan">
	  	<%= image_tag(@surkle.floorplan.url(:canvas)) %>
			<%= render @surkle.iconups %>
			<% @surkle.iconups.each do |iconup| %>
				<%= render partial: 'iconups/show', locals: {iconup: iconup} %>
			<% end %>

	  </div>
	</div>
</div>

<% set_of_pairs = [] %>

<% Product.all.each do |product| %>
	<% pair = ["#{product.name} - #{product.description}", product.id] %>
	<% set_of_pairs << pair %>
<% end %>


<div class="row">



	<div class="large-3 columns right border glow" id="new-iconup">
		<%= form_for(@iconup, remote: true) do |f| %>
		  <% if @iconup.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@iconup.errors.count, "error") %> prohibited this iconup from being saved:</h2>

		      <ul>
		      <% @iconup.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="field">
		    <input type="hidden" name="iconup[surkle_id]" value="<%= @surkle.id %>">
		  </div>
				
			<% icons = [] %>
		  <% Icon.all.each do |icon| %>
				<% icons << icon.image.url(:tiny) %>
		  <% end %>

		  <div class="field">
		    <%= f.label :icon_id %><br>
		    <%= f.text_field :icon_id %>
		  </div>
		  <div class="field">
		    <%= f.label :description %><br>
		    <%= f.text_field :description %>
		  </div>
		  <div class="field">
		    <%= f.label :notes %><br>
		    <%= f.text_area :notes %>
		  </div>
			
		  <div>
		  	<%= f.hidden_field(:x_coordinate) %>
		  </div>

		  <div>
		  	<%= f.hidden_field(:y_coordinate) %>
		  </div>

		  <div class="action">
		    <%= f.submit(class: "small button") %>
		  </div>
		<% end %>
	</div>
</div>

<%= link_to 'Edit', edit_surkle_path(@surkle) %> |
<%= link_to 'Back', surkles_path %>
