<p id="notice"><%= notice %></p>

<p>
  <strong>Floorplan:</strong>
  <%= @surkle.floorplan %>
</p>

<p>
  <strong>Description:</strong>
  <%= @surkle.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @surkle.location %>
</p>

<p>
  <strong>Timestamps:</strong>
  <%= @surkle.timestamps %>
</p>

<%= link_to 'Edit', edit_surkle_path(@surkle) %> |
<%= link_to 'Back', surkles_path %>
